* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --main-color: #426b1f;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-order: #e6e6e6;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 112px;
  width: 100%;
  position: fixed;
  background-color: var(--color-white);
  z-index: 100000;
}
ul {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: center;
  list-style: none;
}
li a {
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: var(--color-black);
  text-align: center;
  transition: 0.4s;
}
li a:hover {
  color: var(--main-color);
}
nav input {
  width: 126px;
  height: 48px;
  border: none;
  font-size: 16px;
  background-color: var(--main-color);
  color: var(--color-white);
  border-radius: 8px;
  transition: 0.4s;
}
nav input:hover {
  background-color: var(--color-order);
  color: var(--color-black);
}
nav h1 {
  font-family: Newsreader;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  color: var(--main-color);
}
a {
  text-decoration: none;
}
hr {
  width: 1248px;
  margin: auto;
  border: 1px solid #e6e6e6;
}
.total-price h5 {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
}
.price-order p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30.8px;
}
.price-order a {
  font-size: 16px;
  font-weight: 400;
  line-height: 50.8px;
}
.total-price button {
  margin-top: 15px;
  width: 338px;
  height: 48px;
  padding: 8px 16px 8px 24px;
  text-align: start;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  color: var(--color-white);
  background-color: var(--main-color);
  border-radius: 8px;
  transition: 0.4s;
}
.total-price button:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}
.arrow {
  font-size: 20px;
  padding-left: 110px;
}
.price-order a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: bold;
  padding-bottom: 10px;
}
.product-page {
  padding-top: 65px;
}
.title-page5 {
  display: flex;
  justify-content: space-between;

  padding: 50px 50px 0px 50px;
}
.title-page5 h2 {
  font-family: Newsreader;
  font-size: 64px;
  font-weight: 400;
  line-height: 76.8px;
}
.title-page5 span {
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.title-page5 input {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid var(--color-order);
  transition: 0.4s;
}
.title-page5 input:hover {
  background-color: var(--main-color);
  color: var(--color-white);
}
.produce {
  display: flex;
  padding: 40px;
}
.produce figure {
  padding-right: 30px;
}
.produce figcaption {
  width: 395px;
  height: 444px;
  background-color: var(--color-order);
  border-radius: 40px;
}
.produce figcaption img {
  border-radius: 40px 40px 0px 0px;
}

.produce figcaption h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  padding-left: 20px;
}
.produce figcaption a {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding-left: 20px;
  text-decoration: none;
  color: var(--main-color);
}
.produce figcaption p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 50px;
  padding-left: 20px;
}
